/* Mobie -- Tablet */

@media (max-width: 1023px){
    :root{
        --height-header: 80px;
        --height-navbar: 0px;
    }
    .hide-on-mobie-tablet{
        display: none;
    }

    .cart-content{
        position: fixed;
        top: var(--height-search);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 664px) / 2);
    }
    .cart-content::before{
        display: none;
    }

    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .container{
        margin-top: calc(var(--height-search) + var(--height-sort-bar));
    }
    
    .sort-bar{
        display: flex;
    }

    .mobie-navbar{
        margin-top: 16px;
        display: block;
    }

    .logo-icon{
        width: 120px;
    }

    .mobie-navbar-list{
        display: flex;
        padding: 0;
        margin-left: 0;
        list-style: none;
        overflow-x: auto;
        
    }

    .mobie-navbar-list::-webkit-scrollbar{
        display: none;
    }

    .mobie-navbar-item{
        flex-shrink: 0;
        margin-right: 10px;
    }

    .mobie-navbar-link{
        padding : 0 5px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        width: 110px;
        height: 40px;
        line-height: 20px;
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        border-radius: 3px;
        user-select: none;
        -webkit-user-select: none;
    }

    .mobie-navbar-item:nth-of-type(3n+1) .mobie-navbar-link{
        background-color: rgb(129, 129, 247);
    }
    .mobie-navbar-item:nth-of-type(3n+2) .mobie-navbar-link{
        background-color: rgb(34, 165, 154);
    }
    .mobie-navbar-item:nth-of-type(3n+3) .mobie-navbar-link{
        background-color: rgb(86, 117, 86);
    }

    .footer-content{
        padding: 0 16px;
    }

    .cart-link{
        -webkit-tap-highlight-color: transparent;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }

    .cart {
        width: 70px;
        text-align: right;
    }
}


/* Mobie */


@media (max-width: 739px){
    .hide-on-mobie{
        display: none;
    }

    .header-mobile-search-icon{
        font-size: 2.2rem;
        color: #fff;
    }

    .cart,.logo{
        width: unset;
    }

    .logo a{
        display: block;
        line-height: 0;
    }

    .header-search{
        padding: 0 20px;
    }

    .header-mobie-search-checkbox:checked ~ .search{
        display: flex;
    }

    .search{
        display: none;
        position: fixed;
        top: calc(var(--height-search));
        left: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        animation: animationFadeIn linear 0.2s;
    }

    .search-history{
        position: fixed;
        top: calc((var(--height-header) + 46px));
        left: 0;
        width: 100%;
        right: 0;
    }

    .header-mobile-search{
        display: block;
    }

    .pagination-list{
        min-width: 320px;
        width: unset;
    }

    .pagination-number{
        font-size: 1.4rem;
        min-width: 28px;
        height: 24px;
        line-height: 24px;
    }

    @keyframes animationFadeIn {
        from{
            top: calc(var(--height-search) / 2);
            opacity: 0;
        }

        to{
            top: var(--height-search);
            opacity: 1;
        }
    }
}